{% extends "base_contact.html" %}

{% block  title %}Message sent{{ block.super }}{% endblock %}

{% block page_type %}contact{% endblock %}

{% block content_level %}detail{% endblock %}

{% block main_content %}
	<h2>Message sent</h2>
		<p>Your message to Lindsay has been received!</p>
		<p>Please allow at least a day or so before expecting a reply. I try to respond to each e-mail personally, but sometimes it get a little backed up.</p>
{% endblock %}

{% block google_analytics %}{% endblock %}