{% extends "base_generic.html" %}

{% load markup humanize generic_content %}

{% block page_type %}home{% endblock %}

{% block title %}theplumbaker.com | The Plum Baker. Simple, delectable cookies and baked goods by Lindsay Beeson in Knoxville, Tennessee.{% endblock %}

{% block main_content %}
<h2>Hi. I'm The Plum Baker.</h2>
<div id="lead_photo">
	<img src="http://media.theplumbaker.com/theplumbaker/images/photos/lindsay_market.jpg" width="520" height="390" alt="Lindsay working the Farmers Market as The Plum Baker.">
	<p>Lindsay, The Plum Baker, selling cookies at the Knoxville Market Square Farmers' Market.</p>
</div>
<p>I'm just little ol' me, doing what I've loved to do since I was a kid...baking cookies and making people happy.</p>
<p>I feel supremely fortunate to have turned my love of baking into a livelihood. You can sample my goods by either stopping in to any number of <a href="/locations/">Knoxville coffee shops</a>, or by <a href="/contact/">placing an order</a> directly with me. (And when Knoxville's <a href="http://www.marketsquarefarmersmarket.org/">Market Square Farmers Market</a> is in season, I sell my goods alongside <a href="http://www.facebook.com/pages/Knoxville-TN/Old-City-Java/37500142073">Old City Java</a>.)</p>
{% endblock %}